<!DOCTYPE html>
{% load static %}
<html>
<head><title>Cuba Bed and Breakfast</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=0.0001">
    <meta name="keywords"
          content="casa particular varadero, casa particular holguin, casa particular havana,casa particular habana,
          casa particular cuba, casa particular, casa particular valladares, casa particular trinidad, casa particular la boca,
          varadero, cuba varadero, varadero cuba, varadero cuba, varadero to havana, havana to varadero, havana varadero,
          varadero havana, havana or varadero,varadero to trinidad, varadero in cuba, cuba havana varadero, havana cuba,
          cuba havana, about havana cuba, havana in cuba, what to see in havana cuba, is havana in cuba, www cuba com havana,
          trip to havana cuba, trinidad cuba, cuba trinidad, hotel trinidad cuba, trinidad cuba hotels, casa trinidad,
          hotels trinidad cuba, hotels in trinidad cuba, havana to trinidad, trinidad hotels and guest houses,
          cheap guest houses in trinidad, cuba trinidad hotels, cuba villas, hotel villa cuba, villas rentals,
          villas cuba, vacation villas rentals, villas in cuba, villas house, villas by owners,vacation home,
          home vacation, city vacation homes, family vacation to cuba, havana vacation, home for vacation,
          homestay vacation, cuba family vacation,hotel nacional de cuba, casa particular trinidad">
</head>
<body><h1>Cuba Bed and Breakfast</h1>

<div id="provs"><h3>Destinations</h3>
    <li>Pinar de Río</li>
    <li>Artemisa</li>
    <li>La Habana</li>
    <li>Mayabeque</li>
    <li>Matanzas</li>
    <li>Cienfuegos</li>
    <li>Villa Clara</li>
    <li>Sancti Spíritus</li>
    <li>Ciego de Ávila</li>
    <li>Camagüey</li>
    <li>Las Tunas</li>
    <li>Holguín</li>
    <li>Granma</li>
    <li>Santiago de Cuba</li>
    <li>Guantánamo</li>
    <li>Isla de la Juventud</li>
</div>
<p>Welcome to Cuba Bed and Breakfast</p><input type="text" placeholder="Where do you want to go?"
                                               id="busca-casa-de-alquiler-en-cuba">
{% block content %}
{% endblock %}

<div id="test-icons">
    <div class="div-lenguage-ES"></div>
    <div class="div-lenguage-EN"></div>
    <p>

    <div class="div-piscina"></div>
    </p><p>

    <div class="div-ventilador"></div>
    </p><p>

    <div class="div-tv"></div>
    </p><p>

    <div class="div-phone"></div>
    </p><p>

    <div class="div-audio"></div>
    </p><p>

    <div class="div-nevera"></div>
    </p><p>

    <div class="div-cocina"></div>
    </p><p>

    <div class="div-seguridad"></div>
    </p><p>

    <div class="div-parqueo"></div>
    </p><p>

    <div class="div-llave"></div>
    </p><p>

    <div class="div-gastronomia"></div>
    </p><p>

    <div class="div-aire-acondicionado"></div>
    </p></div>
</body>
</html>