<!DOCTYPE html>
{% load static %}
<html>
<head><title>Cuba Bed and Breakfast</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=0.0001">
    <meta name="keywords"
          content="casa particular varadero, casa particular holguin, casa particular havana,casa particular habana,
          casa particular cuba, casa particular, casa particular valladares, casa particular trinidad, casa particular la boca,
          varadero, cuba varadero, varadero cuba, varadero cuba, varadero to havana, havana to varadero, havana varadero,
          varadero havana, havana or varadero,varadero to trinidad, varadero in cuba, cuba havana varadero, havana cuba,
          cuba havana, about havana cuba, havana in cuba, what to see in havana cuba, is havana in cuba, www cuba com havana,
          trip to havana cuba, trinidad cuba, cuba trinidad, hotel trinidad cuba, trinidad cuba hotels, casa trinidad,
          hotels trinidad cuba, hotels in trinidad cuba, havana to trinidad, trinidad hotels and guest houses,
          cheap guest houses in trinidad, cuba trinidad hotels, cuba villas, hotel villa cuba, villas rentals,
          villas cuba, vacation villas rentals, villas in cuba, villas house, villas by owners,vacation home,
          home vacation, city vacation homes, family vacation to cuba, havana vacation, home for vacation,
          homestay vacation, cuba family vacation,hotel nacional de cuba, casa particular trinidad">
</head>
<body><h1>Cuba Bed and Breakfast</h1>

<div id="provs"><h3>Destinations</h3>
    <li>Pinar de Río</li>
    <li>Artemisa</li>
    <li>La Habana</li>
    <li>Mayabeque</li>
    <li>Matanzas</li>
    <li>Cienfuegos</li>
    <li>Villa Clara</li>
    <li>Sancti Spíritus</li>
    <li>Ciego de Ávila</li>
    <li>Camagüey</li>
    <li>Las Tunas</li>
    <li>Holguín</li>
    <li>Granma</li>
    <li>Santiago de Cuba</li>
    <li>Guantánamo</li>
    <li>Isla de la Juventud</li>
</div>
<p>Welcome to Cuba Bed and Breakfast</p><input type="text" placeholder="Where do you want to go?"
                                               id="busca-casa-de-alquiler-en-cuba">
<li>
    <div id="1"><h4>Casa Colonial 1715</h4></div>
    <p> Old Havana Rentals: There are Three bedrooms with Private bath each, air-conditioned in the bedroom, living room
        and kitchen. The house offers television, DVD player. This casa particular (Private House Rentals) is perfect
        for people who have never been to Havana City as well as those who have. Its location is known by locals as an
        excellent location because at a walking distance you will find: supermarkets with international and local
        variety of foods and articles, as well as cook meals at great prices in their cafeterias, the best restaurants,
        and centers of entertainment, Bars, and main Hotels and business centers. The accommodation is clean, safe in a
        quiet neighborhood easily accessible to everything.

        Landmark/Point of interest; Scenic/Historic - Walking distance:

        -Old Square (Plaza Vieja)
        -El Malecon
        -The Capitolio
        -Plaza de Armas
        -Plaza de la Catedral (Havana Cathedral)
        -Paseo del Prado
        -San Francisco de Asis Square
        -Castillo de la Real Fuerza
        -Convento De Santa Clara
        -Palacio De Los Capitanes Generales
        -El Templete </p></li>
<li>
    <div id="2"><h4>Hostal Valladares en Trinidad</h4></div>
    <p>En Hostal Valladares, ubicada en Playa La Boca, a 5 km de Trinidad, en la provincia de Sancti Spiritus, el mar
        esta esperando por usted a unos metros de la casa. Hostal Valladares ofrece una habitación separada de la casa
        familiar con la mayoría de las comodidades. Hay un hermoso portal que rodea la casa, garaje y un porche ancho.
        Se oferta servicio de desayuno y cena (a solicitud del cliente y con precio extra). Se preparan las comidas con
        productos ecológicos del propio huerto. También se ofrece servicio de Lavado y servicio de la Guía. La pequeña
        playa La Boca esta precisamente en la desembocadura de un río estrecho, el Guaurabo donde las barcas se
        estacionan. Usted puede seleccionar los deportes de agua: Bote, Buceo (incluye un curso introductorio de buceo
        con certificación internacional), Pesca (pesca mar adentro y pesca submarina), Navegación (en barcas de vela y
        catamaranes), Snorkeling, Natación y fotografía submarina. Otros deportes: Cavernismo, Ciclismo, Cabalgatas y
        Senderismo. </p></li>
<div id="test-icons">
    <div class="div-lenguage-ES"></div>
    <div class="div-lenguage-EN"></div>
    <p>

    <div class="div-piscina"></div>
    </p><p>

    <div class="div-ventilador"></div>
    </p><p>

    <div class="div-tv"></div>
    </p><p>

    <div class="div-phone"></div>
    </p><p>

    <div class="div-audio"></div>
    </p><p>

    <div class="div-nevera"></div>
    </p><p>

    <div class="div-cocina"></div>
    </p><p>

    <div class="div-seguridad"></div>
    </p><p>

    <div class="div-parqueo"></div>
    </p><p>

    <div class="div-llave"></div>
    </p><p>

    <div class="div-gastronomia"></div>
    </p><p>

    <div class="div-aire-acondicionado"></div>
    </p></div>
</body>
</html>