{% extends "base.html" %}

{% block content %}
    <ul>
        {% for prop in properties %}
        <li>
            <div id="{{ prop.id }}"><h4>{{ prop.name }}</h4></div>
            <div id="amenities-for-{{ prop.id }}" class="amenities">
                {% for name in prop.div_amenities_names %}
                    <div class="div-{{ name }}"></div>
                    {% if forloop.last %}
                        <br/>
                    {% endif %}
                {% endfor %}
            </div>
            <p> {{ prop.description }} </p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}